body {
  font-family: sans-serif;
}
h1 {
  font-size: 30pt;
  text-align: center;
  font-weight: bold;
}
.header-firstline {
  font-size: 18pt;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3em;
}
.intro {
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
}
#map {
  height: 600px;
  width: 100%;
  border-top: 5px solid #22889e;
  border-bottom: 5px solid #22889e;
}
.info.legend {
  background: white;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.info.legend p {
  margin-bottom: .5em;
}
.info.legend .legend-left {
  position: absolute;
  left: 15px;
}
.info.legend .legend-right {
  position: absolute;
  right: 15px;
}
#legend-gradient {
  background: linear-gradient(to right, hsl(17,100%,10%), hsl(17,100%,40%), hsl(17,100%,70%),hsl(17,100%,100%));
  margin: 0px 35px 20px 35px;
  height: 20px;
  width: 100px;
}
#data-select {
  text-align: center;
  padding: 1em;
  background-color: #51cee8;
  color: white;
}
#data-select a {
  text-decoration: none;
  padding: 1em;
  border: 1px solid white;
  color: white;
}
#data-select a:hover {
  background-color: #43a3b7;
}
#data-select a:first-of-type {
  border-left-width: 2px;
}
#data-select a:last-of-type {
  border-right-width: 2px;
}
#data-select .current {
  font-weight: bold;
  background-color: #22889e;
}
.leaflet-control-layers-base {
  font-size: 16px;
  padding: 10px;
}
.dataviewer-info p {
  text-align: center;
}
.dataviewer-info .overall {
  font-size: 36pt;
  font-weight: bold;
  margin: 0;
}
.dataviewer-info .range {
  margin: 0;
}
.dataviewer-country {
  font-size: 24pt;
  margin: 0;
}
.two-col {
  display: inline-block;
  width: 48%;
  padding: 1%;
}
.dataviewer-sexdata {
  font-size: 10pt;
  border-top: 1px solid gray;
  padding-top: 10px;
  margin: 10px 0 !important;
}
